<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dutyfreecompare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dutyfreecompare"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Location"
            android:label="@string/title_activity_helsinki"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChooseLocation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Favorite"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profile"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShoppingCart"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemGalleryActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>